# 代理服务器配置
proxy:
  # 要代理的 Socket.IO 服务器的 URL
  socketio_server_url: "https://test.herokuapp.com/"
  # 代理服务器监听的主机
  listen_host: "0.0.0.0"
  # 代理服务器监听的端口
  listen_port: 3080
  # 代理服务器的基础 URL 路径
  base_url: ""
  # 转发到目标服务器时要添加的自定义请求头
  headers:
    Origin: "https://www.google.com"

# 事件分发配置
dispatch:
  rules:
    # 示例规则：将所有事件转发到文件和 HTTP 端点
    - schema:
        type: object
        properties:
          event: { type: string, enum: ["ChatRoomMessage"] }
          data:
            type: object
            properties:
              Type: { type: string, enum: ["Chat", "Activity", "Whisper"] }
            required: ["Sender", "Content", "Type"]
        required: ["event", "data"]
      dispatchers:
        # 写入到文件
        - type: "file"
          target: "events.log"
        # 推送至 http
        - type: "http"
          target: "http://localhost:8000/events"
          headers:
            Content-Type: "application/json"
        # 推送到 websocket，使用 http://{ip}:{port}/ws 连接
        - type: websocket
      # (可选) 事件预处理器
      preprocessor: "chat_message_handler"

# 扩展配置
extend:
  # (可选) 自定义预处理器列表
  preprocessors:
    - "example_plugins/example_event_preprocessor.py"
    # (可选) 自定义路由列表
  routes:
    - "example_plugins/example_http_api.py"
